.note-preview {
    border: 0.2px solid grey;
    padding: 20px;
    width: 270px;
    height: 170px;
    max-height: 300px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 0.8em;
    font-family: sans-serif;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.85);
}