
.flex {
  display: flex;
  width: 100%;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.padding {
  padding: 14px;
}
