.home {
  max-width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  background-position: center;
  color: #111;
  filter: invert();
}

.home h2 {
  font-size: 36px;
  margin-bottom: 10px;
}
