.msg-modal {
  position: fixed;
  right: 100px;
  bottom: 50px;
  width: 150px;
  height: 70px;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.3s;

  background-color: rgb(222, 222, 253);
  color: rgb(29, 143, 90);
  
  
}
