p textarea {
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
}

.note-todo textarea {
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
}

.note-img textarea {
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
}

.note-vid textarea {
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
}


/* .note-img {
    margin-top: 0;
    padding: 0;
} */

.note-todo {
    line-height: 20px;
}

.note-todo h1 {
    font-size: 1rem;
}

.crossed-line {
    text-decoration: line-through;
}