/* .note-filter {

} */

form.keepForm input[type=text] {
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid grey;
    width: 50%;
    margin: auto;
    background: #f1f1f1;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 20px;
    border-radius: 8px;
}