.note-add {
    position: relative;
    width: 50%;
    margin: 32px auto 50px auto;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
    border: none;
    position: relative;
}

.note-add input {
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
    /* position: relative */
}

.submit {
    position: absolute;
    top: 60%;
    left: 95%;
    border: none;
}

.submit:hover {
    box-shadow: 0 0 5px 0;
}

.type-selector {
    width: 70px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 1px;
    position: relative;
}

.types-selector {
    /* margin-left: 70%;
    margin-top: 20px; */
    float: right;
    margin-top: 5px;
}

.puki {
    margin-left: 10px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    /* text-align: center; */
    display: block;
    margin: auto;
    /* margin: auto; */
    /* top: 50%; */
    /* margin: auto; */
    /* width: 20%; */
}