.note-list-container {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    justify-content: center; */
    /* column-count: 3;
    /* column-gap: 100px; 
    margin-top: 40px;
    /* display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-content: center; */
    /* column-width: 250px; */
    gap: 30px;
    columns: 300px 5;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.note-list h1 {
    text-align: center;
    font-weight: 800;
}