* {
    box-sizing: border-box;
}

.note-preview {
    break-inside: avoid-column;
    width: 270px;
    height: 300px;
    border-radius: 8px;
    height: fit-content;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    background: #fff;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #e0e0e0;
    position: relative;
    transition: box-shadow .3s;
    margin-top: 10px;
}

@media (max-width: 676px) {
    .note-preview {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.note-preview:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, -0.1);
}

.edit-area {
    font-size: 1rem;
    padding-top: 20px;
}

.trash {
    right: 100px;
    width: 40px;
}

.pick-color {
    width: 25px;
    border: none;
    height: 20px;
}